<div class="container" id="intro-container">
    <div class="d-flex flex-column flex-md-row" id="about">
        <div class="row">
            <div class="col-12 col-md-6 text-center" id="picture-container">
                <div class="profile-picture mx-auto">
                    <img src={{profilePictureSrc}} alt="Profile Picture" id="profile-picture"/>
                </div>
            </div>

            <div class="col-12 col-md-6" id="intro">
                <h1 class="">Hello World,</h1>
                <p>
                    My name is Ryan Kline, I am a full-stack software developer based out of
                    West Michigan specializing in web, mobile, and IoT products. I graduated from Grand Valley State University
                    in December of 2023 with my Bachelor's of Science degree in Computer Science, and have been working in the
                    industry for over two years.
                </p>
                <div class="py-2 d-flex flex-column flex-md-row">
                    <a routerLink="/resume" class="btn btn-primary mx-sm-2 my-sm-2">View My Resume</a>
                    <a routerLink="/contact" class="btn btn-secondary my-2 mx-sm-2 my-sm-2">Send Me a Message</a>
                </div>
            </div>
        </div>
    </div>
</div>
