<div class="text-center max-lg:mx-0 py-5">
    <h2 class="text-3xl">Featured Work</h2>
    <div class="flex items-start max-lg:items-center max-lg:flex-col mt-5 justify-center mb-10">
        <div class="text-left bg-white rounded-md border-2 border-l-gray-400 border-b-gray-400 w-1/3 max-lg:w-4/5 max-lg:mb-5 max-lg:mx-3 p-5 ml-10 mr-3">
          <h1 class="text-2xl text-turquoise-blue-500 font-medium mb-2 text-center">Web-based Multiplayer Board Game Demo</h1>
          <p class="font-light">
            The motivation behind this project was not necessarily to build a complete game, 
            rather I wanted to understand what exactly goes into making one. Things like figuring out how to move pawns around a board,
            implementing turn-based logic, or setting up an in-game lobby.<br><br>

            Built with <b>Pixi.js and Golang</b>, this project provided me with the opportunity to work extensively 
            with the HTML canvas API on the front-end and websockets on the back.
          </p>

          <div class="flex flex-col mt-5 text-left">
            <a class="text-turquoise-blue-600" href="https://youtu.be/XG_CL8E04t8" target="_blank">Video Demonstration</a>
            <a class="text-turquoise-blue-600" href="https://github.com/ryankline122/Monopoly-Pixi" target="_blank">Source Code</a>
          </div>
        </div>

        <div class="text-left bg-white rounded-md border-2 border-l-gray-400 border-b-gray-400 w-1/3 max-lg:w-4/5 max-lg:mb-5 p-5 mx-3">
          <h1 class="text-2xl text-turquoise-blue-500 font-medium mb-2 text-center">Super Smash Bros. Melee Bot</h1>
          <p class="font-light">
            Using an expert-system style approach, I created an AI agent to play as Donkey Kong in Super Smash Bros. Melee.
            A Python script reads in directly from the games memory to access important gamestate like player
            location, health, and remaining lives to make informed decisions on what actions to take at any given moment.<br><br>

            This project was completed as part of a semester long project in Grand Valley's Applied Artificial Inteligence course and was built 
            with Python and by using a fork of the Dolphin Emulator.
          </p>

          <div class="flex flex-col mt-5 text-left">
            <a class="text-turquoise-blue-600" href="https://youtu.be/hgU7U-RXLI4" target="_blank">Video Demonstration</a>
            <a class="text-turquoise-blue-600" href="https://docs.google.com/presentation/d/1Qm7g1dmBOFCxQDfJY6an8RtJx3cQ1QgsLnGtzYI5Z98/edit?usp=sharing" target="_blank">PowerPoint Slides</a>
            <a class="text-turquoise-blue-600" href="https://github.com/ryankline122/SSBM_AI" target="_blank">Source Code</a>
          </div>
        </div>

        <div class="text-left bg-white rounded-md border-2 border-l-gray-400 border-b-gray-400 w-1/3 max-lg:w-4/5 max-lg:mb-5 max-lg:mx-3 p-5 mr-10 ml-3">
          <h1 class="text-2xl text-turquoise-blue-500 font-medium mb-2 text-center">CLI Connect 4 with Elixir</h1>
          <p class="font-light">
            Connect 4 has always been my favorite game to program when learning a new language. It's simple enough, but exposes you to several key 
            language features such as dealing with user input, working with 2D arrays and unit testing for example.<br><br>

            I chose Elixir this time around since I wanted to give functional programming another shot after hearing great things about it online. 
            The only other time I used this programming paradigm was in my junior year of college where I clawed my way through the same project using 
            <a href="https://www.gnu.org/software/kawa/index.html" class="text-turquoise-blue-600">Kawa</a> (a dialect of Scheme). Elixir was much more
            enjoyable and gave me a greater appreciation for functional programming.
          </p>

          <div class="flex flex-col mt-5 text-left">
            <a class="text-turquoise-blue-600" href="https://github.com/ryankline122/Connect4-Elixir" target="_blank">Source Code</a>
          </div>
        </div>
    </div>
    <!-- <button class="p-2">View All</button> -->
</div>