<footer class="footer mt-auto bg-dark text-light py-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{{linkedinURL}}" target="_blank">
                    <img src="{{linkedinLogo}}" alt="LinkedIn" class="mx-3" id="liLogo" />
                </a>
                <a href="{{ghURL}}" target="_blank">
                    <img src="{{ghLogo}}" alt="GitHub" class="mx-3" id="ghLogo" />
                </a>
            </div>
        </div>
    </div>
</footer>