<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <div (click)="scrollToSection('home')" (keydown.enter)="scrollToSection('home')" tabindex="0" role="button" class="navbar-brand">
            <div class="name">Ryan Kline</div>
            <hr class="name-spacer">
            <div class="subtitle">Software Engineer</div>
        </div>
        <button class="navbar-toggler" type="button" (click)="toggleNav()" [attr.aria-expanded]="isNavOpen.toString()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{ show: isNavOpen }">
        <ul class="navbar-nav ms-auto mx-5">
            <li class="nav-item mx-3">
                <a (click)="scrollToSection('home')" 
                (keydown.enter)="scrollToSection('home')"
                tabindex="0" 
                role="button"  
                class="nav-link">Home</a>
            </li>
            <li class="nav-item mx-3">
                <a (click)="scrollToSection('experience')" 
                (keydown.enter)="scrollToSection('experience')"
                tabindex="0" 
                role="button"  
                class="nav-link">Experience</a>
            </li>
            <li class="nav-item mx-3">
                <a (click)="scrollToSection('projects')" 
                (keydown.enter)="scrollToSection('project')"
                tabindex="0" 
                role="button"  
                class="nav-link">Projects</a>
            </li>
            @if (isBlogFeatureEnabled) {
                <li class="nav-item mx-3">
                    <a routerLink="/blog" class="nav-link">Blog</a>
                </li>
            }
            <li class="nav-item mx-3">
                <a (click)="scrollToSection('contact')" 
                (keydown.enter)="scrollToSection('contact')"
                tabindex="0" 
                role="button"  
                class="nav-link">Contact</a>
            </li>
        </ul>
        </div>
    </div>
</nav>