<div class="flex mt-5 justify-center mb-10">
    <div class="bg-white rounded-md border-2 border-l-gray-400 border-b-gray-400 w-9/12 max-lg:w-4/5 p-5">
      <h1 class="text-2xl text-turquoise-blue-500 font-medium mb-2 text-center">About Me</h1>
      <p class="font-light">
        <b class="font-bold text-lg text-turquoise-blue-500">Hello World, </b>my name is Ryan Kline, I am a full-stack software developer based out of West Michigan specializing in web, 
        mobile, and IoT products. I graduated from Grand Valley State University in December of 2023 with my 
        Bachelor's of Science degree in Computer Science, and have been working in the industry ever since. 
      </p>

      <p class="mt-3 font-light">
        Since breaking into the industry with my first internship in 2022, I've had the opportunity to work on a wide 
        variety of projects ranging from automated test suites for an autonomous robot, a web-based member portal 
        for large health care provider, a data center management system for a global furniture manufacturer, and a 
        cloud-based back-end of an innovative Parking Access and Revenue Control product. This breadth of experience so 
        early in my career puts me in a unique position to confidently tackle whatever project comes my way.
      </p>

      <p class="mt-3 font-light">
        This site serves as a place for me to showcase my skills, side projects, and professional journey. I will also be
        using this as a space to share ideas, insights, and discoveries in the form of blog posts (coming soon). Whether
        you're here to explore my past projects or to get my thoughts on the latest trends in the industry, I hope you'll find
        inspiration and value in my work.
        
      </p>
    </div>
</div>
